<div class="phone_out">
	<div class="phone">
	  <div class="top">
		<div class="camera"></div>
	  </div>
	  <div class="screen">
		<div class="pages">
		  <div class="page page1">
			<h2>Johnson</h2>
			<h1>詹</h1>
			<div class="orange"></div>
		  </div>
		  <div class="page page2">
			<h2>Page2: Article</h2>
			<p>曾經看過線上課程，大部分的程式設計教學往往只講解功能沒教你如何讓網頁好看，好用學完做出來之後，總離真正上線的網頁有段距離而覺得沮喪</p>
		  </div>
		  <div class="page page3">
			<h2>Page3: Setting</h2>
			<p></p>
		  	<button class="wiggle">wiggle</button>
			<button class="i5">iphone5</button>
			  <button class="i5s">iphone5s</button>
			  <button class="i6">iphone6</button>
			  <button class="i6s">iphone6+</button>
			  <button class="turn">Rotate</button>
			  <button class="shutdown">Shutdown</button>
		  </div>
		  <div class="page page4">
			<h2>Page4: 	Calculater</h2>
			<p></p>

			<p class="cal_output"=>0</p>
			<p>&nbsp</p>
		  	  <button class="cal_ac">AC</button>
			  <button class="cal_na">+/-</button>
		  	  <button class="cal_mod">%</button>
		  	  <button class="cal_di">/</button>
		  	  <button class="cal_7">7</button>
		  	  <button class="cal_8">8</button>
		  	  <button class="cal_9">9</button>
		  	  <button class="cal_mul">*</button>
		  	  <button class="cal_4">4</button>
			  <button class="cal_5">5</button>
		  	  <button class="cal_6">6</button>
		  	  <button class="cal_sub">-</button>
		  	  <button class="cal_1">1</button>
		  	  <button class="cal_2">2</button>
		  	  <button class="cal_3">3</button>
		  	  <button class="cal_add">+</button>
		  	  <button class="cal_0">0</button>
		  	  <button class="cal_poi">.</button>
		  	  <button class="cal_equal">=</button>

		  </div>
		</div>
	  </div>
	  <div class="sub_screen">
		  <div class="sub_screen_left">
			◄
		  </div>
		  <div class="sub_screen_right">
			►
		  </div>
	  </div>
	  <div class="bottom">
		<div class="button">◎</div>
	  </div>
	</div>

</div>

</article>
	<!--<script src='https://code.jquery.com/jquery-2.2.4.min.js'></script>-->
	<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js'></script>

	<script src="js/index.js"></script>
</body>
</html>