<%- include header %>
<ul style="list-style:none">
  <li><h3><a href="https://www.youtube.com/">Youtube</a></h3>看影片囉!</li>
  <li><h3><a href="https://www.facebook.com/">Facebook</a></h3>來看看FB！</li>
</ul>
<%- include footer %>