<%- include header %>



<form class="form-inline" role="form" method="post">
  <div class="form-group">
    <p class="form-control-static">原始密碼：</p>
  </div>
  <div class="form-group">
    <input type="password_original" class="form-control" name="password_original" >
  </div>
  </br>
  
  
  <div class="form-group">
    <p class="form-control-static">新密碼：&nbsp;&nbsp;&nbsp;&nbsp; </p>
  </div>
  <div class="form-group">
    <input type="password" class="form-control" name="password" >
  </div>
  
  </br>
  
  <div class="form-group">
    <p class="form-control-static">確認密碼：</p>
  </div>
  <div class="form-group">
    <input type="password" class="form-control" name="password-repeat" >
  </div>
  </br>
  
  <button type="submit" class="btn btn-default" value="修改">修改</button>
</form>


<%- include footer %>